*{
  margin: 0;
  padding: 0;
}
.background-image {
  position: relative;
  height: 100vh;
  background-image: url(./assets/agreenfarm.png);
  background-size: cover;
  background-position: center;
}
.navbar {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  display: flex;
  justify-content:space-between
}
.navbar img{
  width: 8%;
  height: auto;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  margin: 0 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #333;
}